.index-background {
  background-image: url("background.jpg");
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-position: center;
  border-bottom: 1px solid lightgrey;
}

.yes-index-recipes {
  margin-top: 64px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.title-index {
  display: flex;
  justify-content: center;
}

.found-title {
  margin: 130px 0 130px 0;
  font-size: 90px;
  font-weight: 700;
  color: white;
  text-shadow: 1.3px 1.3px black;
}

.index-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe-index-div {
  width: 330px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin: 7.5px;
  background: white;
  border: 1px solid rgb(230, 230, 230);
}

.recipe-index-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(50, 50, 50);
}

.each-recipe {
  width: 100%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.recipe-index-div:hover {
  transition: 0.2s;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.6);
}

.recipe-index-div:hover .recipe-index-title {
  opacity: 1;
  transition: 0.7s;
  color: black;
}

.recipe-category-div {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 7.5px;
  background: white;
  border: 1px solid rgb(230, 230, 230);
}

.recipe-category-title {
  border-top: 1px solid rgb(230, 230, 230);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: rgb(50, 50, 50);
}

.each-category {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.recipe-category-div:hover {
  transition: 0.2s;
  color: black;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.6);
}