.index-background {
  background-image: url("background.jpg");
  background-size: cover;
  width: 100%;
  /* height: auto; */
  height: 60vh;
  /* background-repeat: no-repeat; */
  background-position: center;
}

.yes-index-recipes {
  /* margin-top: 64px; */
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.title-index {
  /* margin-top: 64px; */
  /* padding: 200px; */
  display: flex;
  justify-content: center;
}

.found-title {
  /* margin: 10px; */
  margin: 160px 0 160px 0;
  font-size: 90px;
  font-weight: 700;
  color: white;
  text-shadow: 1.3px 1.3px black;
}

.index-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe-index-div {
  position: relative;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5px;
  height: 330px;
  width: 330px;
}

.recipe-index-title {
  position: absolute;
  font-size: 33px;
  font-weight: 600;
  text-align: center;
}

.each-recipe {
  width: 100%;
}

.recipe-index-div:hover {
  transition: 0.7s;
  color: white;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.6);
}

.recipe-index-div:hover .each-recipe {
  opacity: 0.3;
}

.recipe-index-div:hover .recipe-index-title {
  opacity: 1;
  transition: 0.7s;
  color: black;
}

.recipe-category-div {
  position: relative;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5px;
  height: 330px;
  width: 330px;
  background: url("./frame.png");
  background-size: 100% 100%;
}

.recipe-category-div:hover {
  transition: 0.7s;
  color: black;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.6);
}

.recipe-category-div:hover .each-recipe {
  opacity: 0.3;
}

.recipe-category-div:hover .recipe-category-title {
  opacity: 1;
  transition: 0.7s;
  color: black;
}

