html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  /* background: transparent; */
}

ul {
  list-style: none;
}

.splash {
  /* position: fixed; */
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
  /* background-image: url("food_splash.jpg"); */
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide1, .slide2, .slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background-image: url("food_splash.jpg");
  background-size: cover;
  animation: fade 21s infinite;
  -webkit-animation: fade 21s infinite;
  z-index: -2;
}

.slide2 {
  background-image: url("splash2.jpg");
  background-size: cover;
  animation: fade2 21s infinite;
  -webkit-animation: fade2 21s infinite;
  z-index: -2;
}

.slide3 {
  background-image: url("splash3.jpg");
  background-size: cover;
  animation: fade3 21s infinite;
  -webkit-animation: fade3 21s infinite;
  z-index: -2;
}

@keyframes fade {
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2 {
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3 {
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

.testing-things-out {
  z-index: 4;
  background: aqua;
}

.tester1 > input {
  z-index: 2;
}

.tester2 {
  z-index: 2;
}